.title {
  margin-bottom: 100px;
  z-index: -1;
}

.benefits-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 80px;
}

@media (min-width: 768px) {
  .benefits-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
