.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 100px 8vw;
  position: relative;
}
