.title {
  font-size: 2rem;
}

.description {
  margin-top: 20px;
  color: var(--secondary-text-color);
  font-size: 1.8rem;
  font-variation-settings: "wght" 700;
}

.description__gradient1 {
  background: linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
  background: -webkit-linear-gradient(90deg, #fad961 0%, #f76b1c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
