.content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2rem;
}

.text-container {
  padding: 0;
}

.description {
  margin-top: 20px;
  color: var(--secondary-text-color);
  font-size: 1.8rem;
  font-variation-settings: "wght" 700;
  margin-bottom: 20px;
}

.description__gradient1 {
  background: linear-gradient(var(--gradient-blue));
  background: -webkit-linear-gradient(var(--gradient-blue));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.video__container {
  max-width: 350px;
}

@media (min-width: 769px) {
  .content-container {
    flex-direction: row;
  }

  .text-container {
    padding: 0 130px 0 0;
  }
}
