:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --main-text-color: #ffffff;
  --secondary-text-color: #a1a1a6;
  --main-dark-bg-color: #000000;
  --main-dark-bg-color-75: rgba(0, 0, 0, 0.75);

  /* Gradients */
  --gradient-purple-pink-orange: -webkit-linear-gradient(
    0deg,
    #be22ff 20%,
    #ff279c 50%,
    #ff981f 80%
  );
  --gradient-green-yellow: -webkit-linear-gradient(
    0deg,
    #85ffbd 0%,
    #fffb7d 100%
  );
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--main-text-color);
  background-color: var(--main-dark-bg-color);
}

h1 {
  font-size: 1.9rem;
  font-variation-settings: "wght" 300;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
}
