:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --main-text-color: #ffffff;
  --main-dark-bg-color: #000000;
  --main-dark-bg-color-75: rgba(0, 0, 0, 0.75);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--main-text-color);
  background-color: var(--main-dark-bg-color);
}

h1 {
  font-variation-settings: "wght" 300;
}

a {
  color: inherit;
  text-decoration: none;
}
